<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="clockatt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <clockatt.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="IsShowYear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowWeek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsWeekWareki" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowSecond" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cal_ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Cal_BackColor" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="Cal_Font" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="Cal_YearMonthFont" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="Cal_YearMonthColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Cal_WeekFont" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="Cal_WeekColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Cal_WeekSaturndayColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Cal_WeekSundayColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Cal_DayFont" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="Cal_DayColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Cal_DayHolidayColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Cal_DaySaturndayColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Cal_DaySundayColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Cal_DayTodayBackColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
        </clockatt.Properties.Settings>
    </userSettings>
</configuration>
